        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f8f8;
        }
        header{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 11px;
            
            background-color: #fa5269;
            color: white;
            padding: 5px 6px 10px 1px;
            
        }
       header p{
        margin: 0;

       }
       header>p>a{
        color: white;
        
       }
       header img{
        height: 20px;
        width: 20px;
       }
       .center{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

       }
       nav{
        box-shadow: 0 6px 15px rgba(92, 87, 87, 0.2);
        padding: 13px 18px;
        background-color: white;
       }

       nav a{
        text-decoration: none;
        color: rgb(31, 30, 30);
       }
       nav a:hover{
        text-decoration: underline;
       }
       
       #main-about{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 79vh;
        background-image: url('assets/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       }


       #main-about>a>img{
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 63px;
        border-radius: 50%;
       }
       #about{
        text-align: center;
        width: 43%;
        height: 45%;
        box-shadow: 0 4px 15px rgba(153, 144, 144, 0.2);
        border-radius: 21px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 90px 0;


        }

       #stem-courses{
        color: #f34058;
        font-weight: bold;
        font-size: 18px;
       }

       #algostem{
        color: black;
        font-weight: bolder;
        font-size: 65px;
        letter-spacing: 2x;
       }

       #main-container{
        background-color: #f8f8f8;
        padding: 60px 24px 120px;
       }
       #mission{
        margin: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
       }

       #mission-heading{
        font-size: 45px;
        margin: 60px 0 17px 0px;
        font-weight:500;
       }

       #mission-info{
        font-size: 25px;
        width: 85%;
       }

       #card-container{
        display: flex;
        align-items: center;
        justify-self: center;
        align-content: center;
        gap: 22px;
        height: 55vh;
        width: 100%;
       }

       .box-margin{
        padding: 24px 24px 32px;   
       }

       .box-margin:hover{
        transform: translateY(-10px) scale(1.05);
        box-shadow: 0 5px 16px rgba(153, 144, 144, 0.2);
       }

       .card-box{
        width: 315px;
        height: 362px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 16px;
        box-shadow: 0 4px 15px rgba(153, 144, 144, 0.2);
        
       }
       .card-num-font{
        font-weight: bold;
        font-size: 39px;
       }

       .card-font{
        font-size: 25px;
        font-weight: 550;
        margin: 15px 0px;
       }

       .image-gap{
        margin: 25px 0px;
       }

       #partner-heading{
        text-align: center;
        margin: 45px 1px 18px 1px;
        font-size: 40px;
        font-weight: 350;
       }

       #partner-card-container{
        display:grid;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        width: 100%;
        width: 100px;
        margin-top: 20px;
        
       }

       .partner-card{
        background-color: white;
        width: 423px;
        height: 189px;
        border-radius: 13px;
        box-shadow: 0 4px 15px rgba(153, 144, 144, 0.2);
        padding: 35px 35px 85px 70px;
       }

       .partner-card:hover{
        transform: translateY(-10px) scale(1.05);
        box-shadow: 0 5px 16px rgba(153, 144, 144, 0.2);
       }

       #partner-card-container img{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
       }
       
       #foot-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90px;
       }

       #nav-option{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
       }

       #nav-option ul{
        list-style-type:none;

       }
       
       footer>div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        
       }

       footer{
        background-color: rgb(248, 99, 124);
        width: 100%;
        height: 25vh;
       }
       footer>div{
        margin: 45px;
       }
       footer>div>p{
        font-weight: 500;
        font-size: 25px;
        margin: 50px 90px 0px 0;
        color: white;
        
       }

       footer>div>a{
        margin: 50px 0 0 20px ;
        text-decoration: none;
        color: white;
       }

       footer>div>img{
        width: 2%;
        height: auto;
        margin-top: 48px;;
    
       }
   